.App {
  text-align: center;
  background-color: #E5E5E5;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.inputContainer {
  position: fixed;
  top: 0px;
}

.input {
  height: 40px;
  border: 1px solid #B7B7B7;
  padding: 8px 16px;
  border-radius: 4px;
  font-size: 14px;
  line-height: 22px;
  color: #3C3C3B;
}

.input:focus {
  border: 1px solid #EF7D00;
  outline: none;
}

.input::placeholder {
  font-size: 14px;
  line-height: 22px;
  color: #B7B7B7;
}

.title {
  font-size: 32px;
  margin-bottom: 32px;
}

.announcementsList {
  min-height: 40px;
  width: 300px;
  background: white;
  border: 1px solid #B7B7B7;
  padding: 0px;
  list-style-type: none; 

}

.announcementsList li {
  padding: 8px 16px;
  border: 1px solid #B7B7B7;
}